fastapi
uvicorn[standard]
langchain
openai
httpx
python-dotenv
jupyter
tiktoken
pgvector
psycopg[binary]
slack_sdk
scipy
google-search-results
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
